body{
    background-color: rgb(211, 225, 238);
}

.center-header {
    text-align: center;
    color: rgb(219, 128, 204);
}

.bar{
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(241, 120, 209);
}

.contact{
    text-align: center;
    color: rgb(143, 15, 169);
    border: solid rgb(237, 88, 190);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 10px;
    font-family: "Prompt";
}
